<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MamaWeather.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C5A0FED91FCEF1160003AE40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C5A0FEED1FCEF1170003AE40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C5A0FEF81FCEF1170003AE40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
